.profilePage {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;

  &__container {
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-evenly;
    width: 100%;
  }
}
